
# DESKTOP SETTINGS
#
# Set desktop font
font pango:System San Francisco Display 10

# Volume control
bindsym $mod+x exec amixer -D pulse sset Master 5%+
bindsym $mod+z exec amixer -D pulse sset Master 5%-

bar {
        status_command i3blocks -c ~/.config/i3blocks.conf
        tray_output primary
        position        top
        colors {
            background $bg-color
                separator #757575
                #                  border             background         text
                focused_workspace  $bg-color          $bg-color          $text-color
                inactive_workspace $inactive-bg-color $inactive-bg-color $inactive-text-color
                urgent_workspace   $urgent-bg-color   $urgent-bg-color   $text-color
        }
}
