.DS_Store
*.pyc
*.swp

.netrwhist
*/.Xauthority

i3files/.config/*
!i3files/.config/i3*
!i3files/.config/mpv
i3files/.config/mpv/watch_later
i3files/.config/i3/config

files/.vim/bundle
files/.vim/plugin
files/.vim/eclim

*.o
*.hi
*.hs
*.errors
xmonad-x86-64-linux

# emacs
*~
\#*#
.\#*
monokai.terminal
