.DS_Store
*.pyc
*.swp

.netrwhist
*/.Xauthority

i3files/.config/autostart
i3files/.config/cef_user_data
i3files/.config/dconf
i3files/.config/gconf
i3files/.config/gedit
i3files/.config/google-chrome
i3files/.config/gtk-2.0
i3files/.config/gtk-3.0
i3files/.config/htop
i3files/.config/menus
i3files/.config/mimapps.list
i3files/.config/mpv
i3files/.config/pavucontrol.ini
i3files/.config/pulse
i3files/.config/Skype
i3files/.config/Thunar
i3files/.config/Trolltech.conf
i3files/.config/xfce4
i3files/.config/configstore
i3files/.config/VirtualBox
i3files/.config/kazam
i3files/.config/mirage
i3files/.config/user-dirs.*
i3files/.config/enchant/*


files/.vim/bundle
