XTerm*faceName: DejaVu Sans Mono
xterm*faceSize: 9

URxvt.perl-ext-common: clipboard,resize-font
! Perl script for copying and pasting to clipboard
URxvt.keysym.Mod1-c: perl:clipboard:copy
URxvt.keysym.Mod1-v: perl:clipboard:paste

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! URxvt.iso14755: false
! URxvt.copyCommand:  xclip -i -selection clipboard
! URxvt.pasteCommand: xclip -o -selection clipboard

URxvt*font: xft:Hack:size=10:antialias=true
! URxvt*font: xft:Meslo LG M DZ Regular:size=10:antialias=true

URxvt*scrollBar: false
URxvt*termName: rxvt-unicode-256color

!BLK Cursor
#define _color0		#000d18
#define _color8		#000d18

!RED Tag
#define _color1		#e89393
#define _color9		#e89393

!GRN SpecialKey
#define _color2		#9ece9e
#define _color10	#9ece9e

!YEL Keyword
#define _color3		#f0dfaf
#define _color11	#f0dfaf

!BLUE Number
#define _color4		#8cd0d3
#define _color12	#8cd0d3

!MAG Precondit
#define _color5		#c0bed1
#define _color13	#c0bed1

!CYN Float
#define _color6		#dfaf8f
#define _color14	#dfaf8f

!WHT Search
#define _color7		#efefef
#define _color15	#efefef

!FMT Include, StatusLine, ErrorMsg
#define _colorBD	#ffcfaf
#define _colorUL	#ccdc90
#define _colorIT	#80d4aa

!TXT Normal, Normal, Cursor
#define _foreground 	#dcdccc
#define _background 	#1f1f1f
#define _cursorColor 	#8faf9f


*.foreground:   #c2c2b0
*.background:   #222222
*.cursorColor:  #c2c2b0
! black
*.color0:       #222222
*.color8:       #272822
! red
*.color1:       #aa4450
*.color9:       #ff6a6a
! green
*.color2:       #719611
*.color10:      #b1d631
! yellow
*.color3:       #ff9800
*.color11:      #87875f
! blue
*.color4:       #6688aa
*.color12:      #90b0d1
! magenta
*.color5:       #8f6f8f
*.color13:      #8181a6
! cyan
*.color6:       #528b8b
*.color14:      #87ceeb
! white
*.color7:       #d3d3d3
*.color15:      #c1cdc1
! others
URxvt.colorIT:  #719611
URxvt.colorBD:  #d3d3d3
URxvt.colorUL:  #528b8b



! # special
! foreground      = #f8f8f2
! foreground_bold = #f8f8f2
! cursor          = #f8f8f2
! background      = #404254
! 
! # black
! color0  = #44475a
! color8  = #44475a
! 
! # red
! color1  = #FF3D7F
! color9  = #FF3D7F
! 
! # green
! color2  = #50fa7d
! color10 = #50fa7d
! 
! # yellow
! color3  = #f1fa8c
! color11 = #f1fa8c
! 
! # blue
! color4  = #8be9fd
! color12 = #FF7AC6
! 
! # magenta
! color5  = #FF7AC6
! color13 = #FF7AC6
! 
! # cyan
! color6  = #00FFF0
! color14 = #00FFF0
! 
! # white
! color7  = #707880
! color15 = #c5c8c6
